  <div class="post-container">
    {{#each bugs as |bug| }}
    <section class="main-post">
      <div class="post-title">
        <h4 class="post-text title-text">
          <a href="/post/{{{bug.id}}}" class="post-link">
            {{bug.title}}
          </a>
        </h4>
      </div>
          </a>
      <div class="post-body">
        <p class="post-text">
          {{bug.post_body}}
      </p>
      </div>
      <p>
        <a class="name-link" href="/user/{{{bug.user.id}}}">
        {{{bug.user.first_name}}} {{{bug.user.last_name}}}</a>, {{{bug.createdAt}}}
      </p>
      <br>
    </section>
  {{/each}}
  </div>
  {{#if loggedIn}}
  <dialog class="modal post-modal">
    <br>
    <h2 class="post-modal-text">Create New Post</h2>
    <form class="new-post" method="dialog">
      <br>
      <h3 class="post-modal-text">Title</h3>
      <div>
        <input class="new-post-item" id="modal-title">
      </div>
      <h3 class="post-modal-text">Description</h3>
      <div>
        <textarea class="new-post-item" id="modal-desc" onfocus="if (this.value=='Description') this.value = ''" type="text" value="Description"></textarea>
      </div>
      <div>
        <button class="new-post-button" type="submit">Submit</button>
        <button class="close-button new-post-button">Cancel</button>
      </div>
    </form>
  </dialog>
  {{/if}}
    <script src="/js/profile.js"></script>
    <script src="/js/global.js"></script>