<div class="post-container">

    <section class="main-post">
         <h4>Posted: {{postTime}}</h4>
      <div class="post-title">
        <h4 class="post-text title-text">
            {{postTitle}}
        </h4>
      </div>
          </a>
      <div class="post-body">
            <p class="post-text">
            {{postBody}}
        </p>
      </div>
        <p>
            <a class="name-link" href="/user/{{{user.id}}}">
            {{poster_first}} {{poster_last}}</a> {{createdAt}}
        </p>
      <br>
    </section>
</div>

    {{#each post as |comment| }}
        <section>
    <div class = "comment-container">
            <div class = "comment-body">  
               <h1 class = "comment-title">{{first_name}} {{last_name}}</h1> 
                    <p class = "post-text title-text">
                        {{comment.comment_body}} 
                    </p>
                    <h4>{{comment.created_at}}</h4>
            </div>
        </section>
    </div>
    {{/each}}


    <script src="/js/profile.js"></script>
    <script src="/js/global.js"></script>