<div class="single-post-container">

    <section class="main-post">
         <h4>Posted: {{postTime}}</h4>
      <div class="post-title">
        <h4 class="post-text title-text">
            {{postTitle}}
        </h4>
      </div>
          </a>
      <div class="post-body">
            <p class="post-text">
            {{postBody}}
        </p>
      </div>
      <button class="comment-btn" href="">Comment</button>
        <p>
            <a class="name-link" href="/user/{{{user.id}}}">
            {{poster_first}} {{poster_last}}</a> {{createdAt}}
        </p>
      <br>
    </section>


    {{#each post as |comment| }}
    <section class = "comment-flex">
    <div class = "comment-container">
            <h2 class = "comment-title">{{first_name}} {{last_name}}</h2>
                <div class = "comment-body">    
                        <p class = "post-text title-text">
                            {{comment.comment_body}} 
                        </p>
                </div>
                <h4 class = "created-at">{{comment.created_at}}</h4>
    </div>
    </section>
    {{/each}}

</div>

    <script src="/js/profile.js"></script>
    <script src="/js/global.js"></script>