<div class="single-post-container">

    <section class="main-post">
         <h4>Posted: {{postTime}}</h4>
      <div class="post-title">
        <h4 class="post-text title-text">
            {{postTitle}}
        </h4>
      </div>
          </a>
      <div class="post-body">
            <p class="post-text">
            {{postBody}}
        </p>
      </div>
      <button class="comment-btn" id="comment-btn">Comment</button>
        <p>
            <a class="name-link" href="/user/{{{user.id}}}">
            {{poster_first}} {{poster_last}}</a> {{createdAt}}
        </p>
      <br>
    </section>
   
    <section id="comment-box" class="comment-box">
        <div class = "comment-container">
            <h2 class = "comment-title">Comment:</h2>
                <div class = "comment-body">    
                        <p class = "post-text title-text">
                        <textarea class="new-comment-item" id="comment-contents" type = 'text'></textarea>                       
                         </p>
                </div>
                <div>
                      <button id="submit-comment" class="comment-btn" type="submit">Submit</button>
                     <button id="cancel-btn" class="close-button comment-btn">Cancel</button>
                 </div>
    </div>
    </section>

    {{#if hasComment}}
    <section class = "comment-flex">
    {{#each post as |comment| }}
    <div class = "comment-container">
            <h2 class = "comment-title">{{first_name}} {{last_name}}</h2>
                <div class = "comment-body">    
                        <p class = "post-text title-text">
                            {{comment.comment_body}} 
                        </p>
                </div>
                <h4 class = "created-at">{{comment.created_at}}</h4>
    </div>
    {{/each}}
    </section>
    {{/if}}

</div>

    <script src="/js/post.js"></script>
    <script src="/js/createComments.js"></script>
    <script src="/js/global.js"></script>